.Header {
    margin: 5px;
    padding: 5px;
    text-align: left;
}

.Button {
    margin: 5px;
    text-align: right;
}

.subtitle {
    margin: 30px;
    padding: 5px;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #d1d1d1;
    color: #515251;
}

.runButton {
    width: 20%;
}

.Footer {
    margin: 5px;
    padding: 5px;
    text-align: left;
    background: white;
}